<div class="index__billboard">
  <h1>Owl's <span>coffee house</span></h1>
  <p>Best coffee maker in the world of smart things. <a href="#/coffee">Try it!</a></p>
  <p><a href="http://bi0morph.github.io/owls-coffee-house">read more</a></p>
</div>
