<h4>Actions:</h4>
<p>
  <button class="btn btn-lg btn-primary actions__make-now">
    Make now
  </button>
</p>
<br>
{{#if isNestDisconnected}}
  <h4>
    Coffee maker can be smarter:
    <a class="btn btn-xs btn-warning" href="/nest/">
      Connect to Nest
    </a>
  </h4>
  <p>
    We can use Nest Cam to find out when you wake up or when you come back home, so we can make coffee for you at that moment.
  </p>
{{else}}
  <p>
    <button class="btn btn-lg btn-success actions__wake-up" {{#if isNestDisconnected}} disabled {{/if}}>
        when wake up
    </button>
  </p>
{{/if}}




