<div class="container">
  <h4>Actions:</h4>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-lg btn-primary actions__make-now">
        Make now
      </button>
      <button class="btn btn-lg btn-default actions__make-later">
        Make later
      </button>
    </div>
  </div>
</div>
<div class="container">
  <h4>Coffee maker can be smarter:</h4>
  <div class="row">
    <div class="col-md-12">
      <p>
        We can use Nest Cam to find out when you wake up or when you come back home, so we can make coffee for you at that moment.
      </p>
      <p>
        <button class="btn btn-lg btn-success actions__make-wake-up" disabled data-toggle="tooltip" data-placement="bottom" title="If you want use feature automatic making coffee sing in to Nest">
            when wake up
        </button>
        <button class="btn btn-lg btn-success actions__make-come-back-home" disabled data-toggle="tooltip" data-placement="bottom" title="If you want use feature automatic making coffee sing in to Nest">
            when come back home
        </button>
      </p>
      <p class="alert alert-warning">
        Nest is not connected.
        <a class="btn btn-sm btn-warning actions__connecto-to-nest" href="https://home.nest.com/login/oauth2?client_id=dc633cf3-45fe-4692-bd17-fb14b8d1487f&state=owlstateeatcoffenodrink">
          Connect to Nest
        </a>
      </p>
    </div>
  </div>
</div>



